/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success {
    background-color: green;
    color: black;
}

.error {
    background-color: red;
    color: black;
}

.warn {
    background-color: yellow;
    color: black;
}

.info{
    background-color: skyblue;
    color: black;
}
