<section>
  <button routerLink="/notification/create">Create</button>
  <main>
    <h1>Notifications:</h1>
    <table border="1">
      <tr>
        <th>Message</th>
        <th>Status</th>
        <th>Trigger</th>
      </tr>
      <tr *ngFor="let notification of notificationArray; index as i">
        <td>{{ notification.message }}</td>
        <td>{{ notification.status }}</td>
        <button (click)="openNotification(i)">Trigger</button>
      </tr>
    </table>
  </main>
</section>
