section {
  text-align: center;
  margin-top: 50px;

  form {
    input,
    select {
      margin-right: 30px;
    }
  }

  main {
    margin-top: 20px;
    text-align: left;
    width: 60%;
    margin: auto;
  }
}
