<section>
  <button routerLink="/notification/list">List</button>
  <section>
    <form #form="ngForm" (ngSubmit)="onFormSubmitted(form)">
      <label for="notificationMsg">Notification: </label>
      <input
        type="text"
        name="notificationMsg"
        id="notificationMsg"
        ngModel
        required
      />
      <label for="type" >Type: </label>
      <select name="type" id="type" ngModel>
        <option value="success" selected>Success</option>
        <option value="error">Error</option>
        <option value="warn">Warning</option>
        <option value="info">Info</option>
      </select>
  
      <button type="submit">Submit</button>
    </form>
  
    <main>
    </main>
  </section>
  
</section>
